{% extends 'base.html' %}
{% block title %}Madlibs Story Templates{% endblock %}

{% block content %}
<h1>Edit your story: {{title}}</h1>   
<form action="/story" id="story-form">
    <input type="hidden" name="storyId" value={{storyId}}>
{% for prompt in prompts %}
    <div>
        <label for={{prompt}} class="form-label">{{prompt}}</label>
        <input type="text" id={{prompt}} class = "form-input" name={{prompt}}>
    </div> 
{% endfor %}
    <button id="form-submit">Submit</button>
</form>
{% endblock %}